rvm:
  - 1.9.3
notifications:
  recipients:
    - jarmo.p@gmail.com
before_script:
  - support/travis.sh
env:
  - WATIR_WEBDRIVER_BROWSER=internet_explorer SAUCE_LABS_USER=jarmo SAUCE_LABS_ACCESS_KEY=8c82695c-d923-4bc4-9102-d4159925e7a5 ALWAYS_LOCATE=false
matrix:
  allow_failures:
    - rvm: ruby-head
